*{
    padding: 0;
    margin: 0;
    font-family: 'Libre Baskerville', serif;
}
body{
    background-color: black;
    height:90vh;
    width: 100%;
}
.bg-img{
    width:100%;
    height:100vh;
    opacity: 0.1;
}
.cnt{
    color: whitesmoke;
    margin-top: -535px;
    margin-left: 50px;
    text-align: center;
    font-size: 18px;
}
.heading{
    letter-spacing: 4px;
    word-spacing: 3px;
    line-height: 46px;
    
}
.para{
    margin-top: 35px;
    line-height: 29px;
    word-spacing: 2px;
    letter-spacing: 1.8px;
    color: grey;
}
span{
    color: rgb(87, 84, 163);
  
}
.btn{
    margin-top: 70px;
    padding: 15px;
    background-color:rgb(87, 84, 163) ;
    cursor: pointer;
    position: absolute;
    margin-left: -60px;
    border: none;
    border-radius: 25px;
}
btn:hover{
    
    background-color:rgb(74, 72, 138) ;
}
.topic{
    margin-bottom: 20px;
}